# Data PreProcessing
Member in charge：  
*   Yinuo Zhao

## Data Wrangling

#### Data wrangling is the process of cleaning, transforming, and preparing raw data for analysis. It is an essential step in the data science pipeline, as raw data often contains errors, inconsistencies, and missing values that need to be addressed before the data can be used for analysis.

In [27]:
# Required Library
import pandas as pd
import numpy as np
import seaborn as sns
from string import ascii_letters
import matplotlib.pyplot as plt
import plotly.express as px
import datetime as dt
import requests
from lxml import html
import math
import re

### Load Raw Dataset

#### We have 3 steps first
#### 1. Locating the dataset
#### 2. Reading in the data
#### 3.Inspecting the data

In [28]:
# # Run this cell to mount your drive (you will be prompted to sign in)
# from google.colab import drive
# drive.mount('/content/drive')
# ## Create the kaggle directory and 
# # (NOTE: Do NOT run this cell more than once unless restarting kernel)
# !mkdir ~/.kaggle
# # Read the uploaded kaggle.json file
# !cp /content/drive/MyDrive/kaggle.json ~/.kaggle/
# # Download dataset
# !!kaggle datasets download -d berkeleyearth/climate-change-earth-surface-temperature-data
# # Unzip folder in Colab content folder
# !unzip /content/climate-change-earth-surface-temperature-data.zip

In [29]:
# load all the raw dataset
majorCity_temp = pd.read_csv('./rowData/GlobalLandTemperaturesByMajorCity.csv')
temp = pd.read_csv('./rowData/GlobalTemperatures.csv')

### Quick look on raw datasets

In [30]:
majorCity_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [31]:
temp

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [32]:
# check data size and type of majorCity_temp
majorCity_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

In [33]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [34]:
# check # of null value in majorCity_temp
majorCity_temp.isnull().sum()

dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [35]:
# check # of null value in temp
temp.isnull().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

### Data Cleaning

#### Data cleaning is the process of identifying and correcting or removing errors, inconsistencies, and inaccuracies in a dataset.
#### It includes handling missing values, removing duplicates, standardizing variables, and handling outliers

In [36]:
# cast dt to datetimne in main dataset for slicing step and rename the column with clear instruction
majorCity_temp['dt'] = pd.to_datetime(majorCity_temp['dt'],format='%Y-%m-%d')
majorCity_temp = majorCity_temp.rename(columns={'dt': 'datetime'})
temp['dt'] = pd.to_datetime(temp['dt'],format='%Y-%m-%d')
temp = temp.rename(columns={'dt': 'datetime'})

#### Checking the datatypes of the majorCity_temp columns

In [37]:
# recheck datatype in majorCity_temp to make sure 
majorCity_temp.dtypes

datetime                         datetime64[ns]
AverageTemperature                      float64
AverageTemperatureUncertainty           float64
City                                     object
Country                                  object
Latitude                                 object
Longitude                                object
dtype: object

#### Checking the datatypes of the temp columns

In [38]:
# recheck datatype in temp to make sure 
temp.dtypes

datetime                                     datetime64[ns]
LandAverageTemperature                              float64
LandAverageTemperatureUncertainty                   float64
LandMaxTemperature                                  float64
LandMaxTemperatureUncertainty                       float64
LandMinTemperature                                  float64
LandMinTemperatureUncertainty                       float64
LandAndOceanAverageTemperature                      float64
LandAndOceanAverageTemperatureUncertainty           float64
dtype: object

In [39]:
# slicing dataset by dt from 1900 to 2012 due to Information Completeness
Temp = temp.loc[(temp['datetime'] >= '1900-01-01') & (temp['datetime'] <= '2012-12-01')]
MajorCity = majorCity_temp.loc[(majorCity_temp['datetime'] >= '1900-01-01') & (majorCity_temp['datetime'] <= '2012-12-01')]

In [40]:
# check null value -> data has no na now 
MajorCity.isnull().sum()

datetime                         0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
dtype: int64

In [41]:
# check duplicates-> data has no duplicate
MajorCity[MajorCity.duplicated(subset=['datetime','City'],keep = False)]

Empty DataFrame
Columns: [datetime, AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude]
Index: []

In [42]:
# filter dataset base on City:
# count city frequency and check if there is city with really less or more data
MajorCity2 = MajorCity.groupby(['City']).count().reset_index()

In [43]:
# visualize to see if there is outlier 
fig1 = px.scatter(MajorCity2, x='City', y='datetime')
fig1.update_layout(
    title="City Frequence",
    xaxis_title="City Name",
    yaxis_title="Number of appearances in each city")
fig1.show()

In [44]:
# merge temp dataset on major dataset 
MajorCity_Temp = pd.merge(MajorCity, Temp, how="left", on=["datetime"])
# check missing value
MajorCity_Temp.isnull().sum()

datetime                                     0
AverageTemperature                           0
AverageTemperatureUncertainty                0
City                                         0
Country                                      0
Latitude                                     0
Longitude                                    0
LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
dtype: int64

In [45]:
# check datatype
MajorCity_Temp.dtypes

datetime                                     datetime64[ns]
AverageTemperature                                  float64
AverageTemperatureUncertainty                       float64
City                                                 object
Country                                              object
Latitude                                             object
Longitude                                            object
LandAverageTemperature                              float64
LandAverageTemperatureUncertainty                   float64
LandMaxTemperature                                  float64
LandMaxTemperatureUncertainty                       float64
LandMinTemperature                                  float64
LandMinTemperatureUncertainty                       float64
LandAndOceanAverageTemperature                      float64
LandAndOceanAverageTemperatureUncertainty           float64
dtype: object

In [46]:
# since we want to predict the average temperature for each city , we need to fit the Geographical coordinates of cities into the model which we need to cast the object into numeric.
# Latitude & Longitude converting function 
def convert(tude):
    multiplier = 1 if tude[-1] in ['N', 'E'] else -1
    return multiplier * float(tude[:-1])

In [47]:
# apply converting function to specific column 
MajorCity_Temp['Longitude'] = MajorCity_Temp['Longitude'].apply(convert)
MajorCity_Temp['Latitude'] = MajorCity_Temp['Latitude'].apply(convert)

In [48]:
# change the datetime date from 01 to 31 for further use
MajorCity_Temp['datetime'] = MajorCity_Temp['datetime'] + pd.offsets.MonthEnd(0)
# save MajorCity_Temp as processed_df to csv for Group Parallel Works
MajorCity_Temp.to_csv('./processedData/processed_data.csv', index=False)

## Feature Engineering via Pandas SQL

#### Then we creating new variables or features from existing data that may be more useful for analysis

In [49]:
import pandasql as ps

### X Variables

In [50]:
# create year and month feature 
MajorCity_Temp['year'] = MajorCity_Temp['datetime'].dt.strftime('%Y')
MajorCity_Temp['month'] = MajorCity_Temp['datetime'].dt.strftime('%m')

In [53]:
# create Lagging feature
lagging_query ='''
               SELECT *,
                     LAG(AverageTemperature,1)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_1_Temp,
                     LAG(AverageTemperature,2)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_2_Temp,
                     LAG(AverageTemperature,3)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_3_Temp,                     
                     LAG(AverageTemperature,4)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_4_Temp,
                     LAG(AverageTemperature,5)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_5_Temp, 
                     LAG(AverageTemperature,6)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_6_Temp,
                     LAG(AverageTemperature,12)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_12_Temp, 
                     LAG(AverageTemperature,24)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_24_Temp,
                     LAG(AverageTemperature,36)
                      OVER(PARTITION BY City,Country
                           ORDER BY year, month) AS Lag_36_Temp                 
                FROM MajorCity_Temp
               '''
feature_df = ps.sqldf(lagging_query, locals())
feature_df.head()

,datetime,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,...,month,Lag_1_Temp,Lag_2_Temp,Lag_3_Temp,Lag_4_Temp,Lag_5_Temp,Lag_6_Temp,Lag_12_Temp,Lag_24_Temp,Lag_36_Temp
0,1900-01-31 00:00:00.000000,25.696,1.326,Abidjan,Côte D'Ivoire,5.63,-3.23,1.461,0.276,7.193,...,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1900-02-28 00:00:00.000000,27.816,0.789,Abidjan,Côte D'Ivoire,5.63,-3.23,3.098,0.416,9.181,...,02,25.696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1900-03-31 00:00:00.000000,28.395,1.296,Abidjan,Côte D'Ivoire,5.63,-3.23,5.492,0.261,11.377,...,03,27.816,25.696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1900-04-30 00:00:00.000000,27.706,0.501,Abidjan,Côte D'Ivoire,5.63,-3.23,8.223,0.292,13.972,...,04,28.395,27.816,25.696,NaN,NaN,NaN,NaN,NaN,NaN
4,1900-05-31 00:00:00.000000,26.753,0.458,Abidjan,Côte D'Ivoire,5.63,-3.23,11.385,0.357,17.415,...,05,27.706,28.395,27.816,25.696,NaN,NaN,NaN,NaN,NaN

In [54]:
# create rolling average feature by period
rollingAvg_query ='''
                  SELECT *,
                         AVG(AverageTemperature) 
                          OVER(PARTITION BY City,Country
                               ORDER BY year, month Rows between 2 preceding and current row) AS Roll_3_Avg,
                         AVG(AverageTemperature) 
                          OVER(PARTITION BY City,Country
                               ORDER BY year, month Rows between 5 preceding and current row) AS Roll_6_Avg, 
                         AVG(AverageTemperature) 
                          OVER(PARTITION BY City,Country
                               ORDER BY year, month Rows between 11 preceding and current row) AS Roll_12_Avg,
                         AVG(AverageTemperature) 
                          OVER(PARTITION BY City,Country
                               ORDER BY year, month Rows between 23 preceding and current row) AS Roll_24_Avg,
                         AVG(AverageTemperature) 
                          OVER(PARTITION BY City,Country
                               ORDER BY year, month Rows between 35 preceding and current row) AS Roll_36_Avg   
                   FROM feature_df
                  '''
feature_df = ps.sqldf(rollingAvg_query, locals())

In [55]:
# rolling avg,min,max for all time
rollingAllAvgMinMax_query ='''
               SELECT *,
                      MIN(AverageTemperature)
                        OVER(PARTITION BY City,Country
                             ORDER BY year, month Rows between unbounded preceding And current row) AS Roll_min_Temp,
                      MAX(AverageTemperature)
                        OVER(PARTITION BY City,Country
                             ORDER BY year, month Rows between unbounded preceding And current row) AS Roll_max_Temp,
                      AVG(AverageTemperature) 
                        OVER(PARTITION BY City,Country
                             ORDER BY year, month Rows between unbounded preceding and current row) AS Roll_avg_Temp
                FROM feature_df
               '''
feature_df = ps.sqldf(rollingAllAvgMinMax_query, locals())

In [57]:
# other temperature feature including:
# LandAverageTemperature,LandMaxTemperature,LandMinTemperature,LandAndOceanAverageTemperature
other_features_query ='''
                      SELECT *,
                             LAG(LandAverageTemperature, 1)
                              OVER(PARTITION BY City,Country
                                   ORDER BY year, month) AS Lag_1_LandAvgTemp,
                             LAG(LandMaxTemperature, 1)
                              OVER(PARTITION BY City,Country
                                   ORDER BY year, month) AS Lag_1_LandMaxTemp,  
                             LAG(LandMinTemperature, 1)
                              OVER(PARTITION BY City,Country
                                   ORDER BY year, month) AS Lag_1_LandMaxTemp, 
                             LAG(LandAndOceanAverageTemperature, 1)
                              OVER(PARTITION BY City,Country
                                   ORDER BY year, month) AS Lag_1_OceanOceanAvgTemp
                        FROM feature_df
                      '''
feature_df = ps.sqldf(other_features_query, locals())

In [85]:
# #check feature_df to see if each feature is correct and cast datetime type to datetime 
# feature_df.head()
# feature_df.dtypes
feature_df['datetime'] = pd.to_datetime(feature_df['datetime'])
feature_df:pd.DataFrame
# dropna
feature_df.dropna(subset=['Lag_36_Temp'], inplace=True)
# check dataset size 
feature_df.shape

(132000, 37)

### Y Variables

In [ ]:
# Since we want to predict the monthly average temperature after 10 years (after 120 months)
# we want to get m + 120 to m + 132 which is 12 separate y variables as target_temp 
# which will lead us to build 12 models later 
# why not rolling model: we can't predict 10 years then 20 years

In [88]:
for i in range(120, 133):
    final_data = feature_df.copy(deep=True)
    final_data['target_dates'] = feature_df['datetime'] + pd.DateOffset(months=i) + pd.offsets.MonthEnd(0) # + 120 month
    y = final_data[['datetime', 'AverageTemperature', 'City']].copy(deep=True)
    y.rename(columns={'AverageTemperature': 'target_AvgTemp', 'datetime': 'target_dates'}, inplace=True)
    final_data = final_data.merge(y, on=['target_dates','City'], how='left')
    final_data.dropna(subset=['target_AvgTemp'], inplace=True)
    final_data.to_csv(f'./processedData/processed_data_{i}.csv', index=False)